@using Microsoft.AspNetCore.Identity;
@using TurboTicketsMVC.Models.Enums;
@using TurboTicketsMVC.Services.Interfaces;
@using TurboTicketsMVC.Services;
@inject ITTNotificationService _notificationService;
@inject UserManager<TTUser> _UserManager;
@inject ITTFileService _fileService;

@{
    IEnumerable<Notification> myNotifications = await _notificationService.GetNotificationsByUserIdAsync(_UserManager.GetUserId(User));
    TTUser user = await _UserManager.GetUserAsync(User);
    bool unreadNotifications = false;
    if (myNotifications.Any(n => !n.HasBeenViewed))
    {
        unreadNotifications = true;
    }
    bool isAdmin = User.IsInRole("Admin");
    bool isPM = User.IsInRole("ProjectManager");
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Turbo Tickets</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/turbotickets_square_primary.svg" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/gogi/vendors/bundle.css" type="text/css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Daterangepicker -->
    <link rel="stylesheet" href="../../vendors/datepicker/daterangepicker.css" type="text/css">

    <!-- App css -->
    <link rel="stylesheet" href="~/gogi/assets/css/app.css" type="text/css">
    <link rel="stylesheet" href="~/css/site.css" type="text/css">
    <link rel="stylesheet" href="~/css/site.css" type="text/css">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <partial name="_LogoutPartial" />

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-icon"></div>
        <span>Loading...</span>
    </div>
    <!-- ./ Preloader -->
    <!-- Sidebar group -->
    <div class="sidebar-group">

        <!-- BEGIN: Settings -->
        <div class="sidebar" id="settings">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title d-flex justify-content-between">
                        Settings
                        <a class="btn-sidebar-close" href="#">
                            <i class="ti-close"></i>
                        </a>
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pl-0 pr-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                <label class="custom-control-label" for="customSwitch1">Allow notifications.</label>
                            </div>
                        </li>
                        <li class="list-group-item pl-0 pr-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                <label class="custom-control-label" for="customSwitch2">Hide user requests</label>
                            </div>
                        </li>
                        <li class="list-group-item pl-0 pr-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
                                <label class="custom-control-label" for="customSwitch3">Speed up demands</label>
                            </div>
                        </li>
                        <li class="list-group-item pl-0 pr-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
                                <label class="custom-control-label" for="customSwitch4">Hide menus</label>
                            </div>
                        </li>
                        <li class="list-group-item pl-0 pr-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch5">
                                <label class="custom-control-label" for="customSwitch5">Remember next visits</label>
                            </div>
                        </li>
                        <li class="list-group-item pl-0 pr-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch6">
                                <label class="custom-control-label" for="customSwitch6">
                                    Enable report
                                    generation.
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END: Settings -->
        <!-- BEGIN: Chat List -->
        <div class="sidebar" id="my-notifications">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title d-flex justify-content-between">
                        Notifications
                        <a class="btn-sidebar-close" href="#">
                            <i class="ti-close"></i>
                        </a>
                    </h6>
                    @if (myNotifications.Count() > 0)
                    {
                        <div class="list-group list-group-flush">
                            @foreach (Notification notification in myNotifications)
                            {
                                @if (notification.NotificationType == TTNotificationTypes.Project && notification.HasBeenViewed)
                                {
                                    <a asp-controller="Projects" asp-action="MarkRead" asp-route-id="@notification.Id" class="list-group-item d-flex p-2 align-items-start">
                                        <div class="pr-3">
                                            <span class="avatar">
                                                <img src="@_fileService.ConvertByteArrayToFile(notification.Sender.ImageFileData, notification.Sender.ImageFileType,DefaultImage.BTUserImage)"
                                                     class="rounded-circle"
                                                     alt="image">
                                            </span>
                                        </div>
                                        <div class="flex-grow- 1">
                                            <h6 class="mb-1">@notification.Title</h6>
                                            <span class="text-muted">
                                                By: @notification.Sender.FullName
                                            </span>
                                        </div>
                                        <div class="text-right ml-auto d-flex flex-column">
                                            <span class="small text-muted">@notification.CreatedDate.ToString("dd MMM yyyy")</span>
                                        </div>
                                    </a>
                                }
                                else if (notification.NotificationType == TTNotificationTypes.Project && !notification.HasBeenViewed)
                                {
                                    <a asp-controller="Projects" asp-action="MarkRead" asp-route-id="@notification.Id" class="list-group-item unread-notification d-flex p-2 align-items-start">
                                        <div class="pr-3">
                                            <span class="avatar avatar-state-primary">
                                                <img src="@_fileService.ConvertByteArrayToFile(notification.Sender.ImageFileData, notification.Sender.ImageFileType,DefaultImage.BTUserImage)"
                                                     class="rounded-circle"
                                                     alt="image">
                                            </span>
                                        </div>
                                        <div class="flex-grow- 1">
                                            <h6 class="mb-1 font-weight-bold">@notification.Title</h6>
                                            <span class="text-muted">
                                                By: @notification.Sender.FullName
                                            </span>
                                        </div>
                                        <div class="text-right ml-auto d-flex flex-column">
                                            <span class="small text-muted">@notification.CreatedDate.ToString("dd MMM yyyy")</span>
                                        </div>
                                    </a>
                                }
                                else if (notification.NotificationType == TTNotificationTypes.Ticket && notification.HasBeenViewed)
                                {
                                    <a asp-controller="Tickets" asp-action="MarkRead" asp-route-id="@notification.Id" class="list-group-item d-flex p-2 align-items-start">
                                        <div class="pr-3">
                                            <span class="avatar">
                                                <img src="@_fileService.ConvertByteArrayToFile(notification.Sender.ImageFileData, notification.Sender.ImageFileType,DefaultImage.BTUserImage)"
                                                     class="rounded-circle"
                                                     alt="image">
                                            </span>
                                        </div>
                                        <div class="flex-grow- 1">
                                            <h6 class="mb-1">@notification.Title</h6>
                                            <span class="text-muted">
                                                By: @notification.Sender.FullName
                                            </span>
                                        </div>
                                        <div class="text-right ml-auto d-flex flex-column">
                                            <span class="small text-muted">@notification.CreatedDate.ToString("dd MMM yyyy")</span>
                                        </div>
                                    </a>

                                }
                                else if (notification.NotificationType == TTNotificationTypes.Ticket && !notification.HasBeenViewed)
                                {
                                    <a asp-controller="Tickets" asp-action="MarkRead" asp-route-id="@notification.Id" class="list-group-item unread-notification d-flex p-2 align-items-start">
                                        <div class="pr-3">
                                            <span class="avatar avatar-state-primary">
                                                <img src="@_fileService.ConvertByteArrayToFile(notification.Sender.ImageFileData, notification.Sender.ImageFileType,DefaultImage.BTUserImage)"
                                                     class="rounded-circle"
                                                     alt="image">
                                            </span>
                                        </div>
                                        <div class="flex-grow- 1">
                                            <h6 class="mb-1 font-weight-bold">@notification.Title</h6>
                                            <span class="text-muted">
                                                By: @notification.Sender.FullName
                                            </span>
                                        </div>
                                        <div class="text-right ml-auto d-flex flex-column">
                                            <span class="small text-muted">@notification.CreatedDate.ToString("dd MMM yyyy")</span>
                                        </div>
                                    </a>
                                }
                            }

                        </div>

                    }
                    else
                    {
                        <h5 class="text-muted text-center">No notifications</h5>
                    }
                </div>
            </div>
        </div>
        <!-- END: Chat List -->

    </div>
    <!-- ./ Sidebar group -->
    <!-- Layout wrapper -->
    <div class="layout-wrapper">

        <!-- Header -->
        <div class="header d-print-none">
            <div class="header-container">
                <div class="header-left">
                    <div class="navigation-toggler">
                        <a href="#" data-action="navigation-toggler">
                            <i data-feather="menu"></i>
                        </a>
                    </div>

                    <div class="header-logo">
                        <a asp-controller="Home" asp-action="Dashboard">
                            <img class="logo" src="~/img/turbotickets_white_wide.svg" style="height:40px; width:auto;"alt="logo">
                        </a>
                    </div>
                </div>

                <div class="header-body">
                    <div class="header-body-left">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown d-none d-md-block">
                                <a href="#" class="nav-link btn btn-warning" title="Roles Guide" data-toggle="dropdown">Roles Guide</a>
                                <div class="dropdown-menu dropdown-menu-big">
                                    <div class="border-bottom px-4 py-3 text-center d-flex justify-content-between">
                                        <h5 class="mb-0">Roles</h5>
                                    </div>
                                    <div class="p-3">
                                        <div class="row row-xs">
                                            <div class="col-6">
                                                <a href="#" data-toggle="modal" data-target="#adminModal">
                                                    <div class="border-radius-1 text-center mb-3">
                                                        <figure class="avatar avatar-lg border-0">
                                                            <span class="avatar-title d-flex justify-content-center a bg-danger text-white rounded-circle">
                                                                <i class="width-30 height-30" data-feather="anchor"></i>
                                                            </span>
                                                        </figure>
                                                        <div class="mt-2">Admin</div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="#" data-toggle="modal" data-target="#projectManagerModal">
                                                    <div class="border-radius-1 text-center mb-3">
                                                        <figure class="avatar avatar-lg border-0">
                                                            <span class="avatar-title d-flex justify-content-center a bg-dark text-white rounded-circle">
                                                                <i class="width-30 bi bi-binoculars height-30"></i>
                                                            </span>
                                                        </figure>
                                                        <div class="mt-2">Project Manager</div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="#" data-toggle="modal" data-target="#developerModal">
                                                    <div class="border-radius-1 text-center">
                                                        <figure class="avatar avatar-lg border-0">
                                                            <span class="avatar-title d-flex justify-content-center a bg-secondary text-white rounded-circle">
                                                                <i class="width-30 height-30 bi bi-code-square"></i>
                                                            </span>
                                                        </figure>
                                                        <div class="mt-2">Developer</div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="#" data-toggle="modal" data-target="#submitterModal">
                                                    <div class="border-radius-1 text-center">
                                                        <figure class="avatar avatar-lg border-0">
                                                            <span class="avatar-title d-flex justify-content-center a bg-warning text-dark rounded-circle">
                                                                <i class="width-30 height-30 bi bi-file-earmark-arrow-up"></i>
                                                            </span>
                                                        </figure>
                                                        <div class="mt-2">Submitter</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="header-body-right">
                        <ul class="navbar-nav">
           
                            <li class="nav-item dropdown d-none d-md-block">
                                <a href="#" class="nav-link" title="Fullscreen" data-toggle="fullscreen">
                                    <i class="maximize" data-feather="maximize"></i>
                                    <i class="minimize" data-feather="minimize"></i>
                                </a>
                            </li>
                            @if (unreadNotifications)
                            {
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link nav-link-notify" title="My Notifications" data-sidebar-target="#my-notifications">
                                        <i data-feather="bell"></i>
                                    </a>
                                </li>

                            }
                            else
                            {
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link" title="My Notifications" data-sidebar-target="#my-notifications">
                                        <i data-feather="bell"></i>
                                    </a>
                                </li>

                            }



                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" title="User menu" data-toggle="dropdown">
                                    <figure class="avatar avatar-sm">
                                        <img src="@_fileService.ConvertByteArrayToFile(user.ImageFileData, user.ImageFileType, DefaultImage.BTUserImage)"
                                             class="rounded-circle"
                                             alt="avatar">
                                    </figure>
                                    <span class="ml-2 d-sm-inline d-none">@user.FullName</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                                    <div class="text-center py-4">
                                        <figure class="avatar avatar-lg mb-3 border-0">
                                            <img src="@_fileService.ConvertByteArrayToFile(user.ImageFileData, user.ImageFileType, DefaultImage.BTUserImage)"
                                                 class="rounded-circle" alt="image">
                                        </figure>
                                        <h5 class="text-center">@user.FullName</h5>
                                        <div class="mb-3 small text-center text-muted p-3 border-bottom-gray">@user.Email</div>
                                        <div class="d-flex flex-column align-items-center justify-content-between">
                                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-outline-light btn-rounded d-flex justify-content-center mb-2" style="width:165px;">Edit Profile</a>

                                            <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="btn btn-outline-light btn-rounded d-flex justify-content-center mb-2" style="width:165px;">Change Password</a>
                                            <a href="javascript:document.getElementById('logoutForm').submit();" class="btn btn-outline-light btn-rounded d-flex justify-content-center mb-2" style="width:165px;">Logout</a>

                                        </div>

                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item header-toggler">
                        <a href="#" class="nav-link">
                            <i data-feather="arrow-down"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ./ Header -->
        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- begin::navigation -->
            <div class="navigation">
                <div class="navigation-header">
                    <span>Navigation</span>
                    <a href="#">
                        <i class="ti-close"></i>
                    </a>
                </div>
                <div class="navigation-menu-body">
                    <ul>
                        <li>
                            <a class="navigation-item" id="nav-GetStarted" asp-controller="Home" asp-action="GetStarted">
                                <span class="nav-link-icon">
                                    <i class="bi bi-info-circle"></i>
                                </span>
                                <span>Getting Started</span>
                            </a>
                        </li>
                        <li>
                            <a class="navigation-item" id="nav-Dashboard" asp-controller="Home" asp-action="Dashboard">
                                <span class="nav-link-icon">
                                    <i data-feather="pie-chart"></i>
                                </span>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="navigation-item" id="nav-Tickets" asp-controller="Tickets" asp-action="Index">
                                <span class="nav-link-icon">
                                    <i class="bi bi-file-earmark-check"></i>
                                </span>
                                <span>Tickets</span>
                            </a>
                        </li>
                        <li>
                            <a class="navigation-item" id="nav-Projects" asp-controller="Projects" asp-action="Index">
                                <span class="nav-link-icon">
                                    <i class="bi bi-folder"></i>
                                </span>
                                <span>Projects</span>
                            </a>
                        </li>
                        <li>
                            <a class="navigation-item" id="nav-Invites" asp-controller="Invites" asp-action="Index">
                                <span class="nav-link-icon">
                                    <i class="bi bi-envelope-plus"></i>
                                </span>
                                <span>Invites</span>
                            </a>
                        </li>
                        <li>
                            <a class="navigation-item" id="nav-Invites" asp-controller="Companies" asp-action="ManageUserRoles">
                                <span class="nav-link-icon">
                                    <i class="bi bi-sliders"></i>
                                </span>
                                <span>Manage Roles</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="nav-link-icon">
                                    <i class="bi bi-plus-square"></i>
                                </span>
                                <span>Create</span>
                            </a>
                            <ul>
                                @if (isPM || isAdmin)
                                {
                                    <li>

                                        <a asp-controller="Projects" asp-action="Create">Project</a>
                                    </li>
                                }
                                <li>

                                    <a asp-controller="Tickets" asp-action="Create">Ticket</a>
                                </li>
                                @if (isAdmin)
                                {
                                    <li>

                                        <a asp-controller="Invites" asp-action="Create">Invite</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        @if(isAdmin)
                        {
                                          
                        }
                    </ul>
                </div>
            </div>
            <!-- end::navigation -->
            <!-- Content body -->
            <div class="content-body">
                <!-- Content -->
                @RenderBody()
                <!-- ./ Content -->
                <!-- Footer -->
                <footer class="content-footer">
                    <div>© 2024 Taranveer Singh</div>
                    <div>
                        <nav class="nav">
                            <a target="_blank" data-bs-toggle="tooltip" title="LinkedIn" href="https://www.linkedin.com/in/taranveersingh93/details/recommendations/" class="glow-link"><i class="bi glow-link bi-linkedin fs-3"></i></a>
                            <a target="_blank" data-bs-toggle="tooltip" title="Github" href="https://github.com/taranveersingh93" class="glow-link"><i class="fs-3 glow-link bi bi-github"></i></a>
                        </nav>
                    </div>
                </footer>
                <!-- ./ Footer -->
            </div>
            <!-- ./ Content body -->
        </div>
        <!-- ./ Content wrapper -->
    </div>

    @* Modals *@
    <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="adminModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom">
                    <h5 class="modal-title text-primary" id="exampleModalLongTitle">Admin Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>When an uninvited user signs up, they're registered as an <strong>admin</strong>.</li>
                        <li>Initially, this admin is the only member belonging to the company which was specified during registration.</li>
                        <li>An admin can then invite other users to the company.</li>
                        <li>Every user that subdequently signs up using an admin's invite, starts off as a <strong>submitter.</strong></li>
                        <li>An admin is the only role that can change the roles of other company members.</li>
                        <li>An admin can't relinquish their own role.</li>
                        <li>An admin can create/edit projects and can <strong>assign/reassign</strong> the project manager at any point.</li>
                        <li>An admin can also edit the team of <strong>any</strong> project.</li>
                        <li>An admin can submit tickets for <strong>any</strong> project.</li>
                        <li>An admin can add comments and attachments to <strong>any</strong> ticket.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="projectManagerModal" tabindex="-1" role="dialog" aria-labelledby="projectManagerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom">
                    <h5 class="modal-title text-primary" id="exampleModalLongTitle">Project Manager Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>A project manager role needs to be assigned to a user by that company's admin.</li>
                        <li>The PM role assignment alone doesn't make one the project manager of the company's projects.</li>
                        <li>If an admin creates a project, they can choose to assign that project to a project manager.</li>
                        <li>An existing project assigned to one project manager can also be reassigned to another PM by the admin.</li>
                        <li>A project manager can <strong>create/edit a project.</strong></li>
                        <li>If a project manager creates a project, <strong>they're automatically assigned</strong> as the PM for that project.</li>
                        <li>A project manager <strong>can edit the teams</strong> of their projects but <strong>can not change the user roles.</strong></li>
                        <li>A PM can submit tickets for a project and edit all tickets <strong>belonging to their projects.</strong></li>
                        <li>A PM can add comments and attachments to <strong>any</strong> ticket belonging to their projects.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="developerModal" tabindex="-1" role="dialog" aria-labelledby="developerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom">
                    <h5 class="modal-title text-primary" id="exampleModalLongTitle">Developer Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>A developer role <strong>needs to be assigned</strong> to a user by that company's admin.</li>
                        <li>A developer needs to be assigned to a ticket by either the <strong>project manager or the admin.</strong></li>
                        <li>A developer can edit all tickets <strong>to which they're assigned.</strong></li>
                        <li>A developer can add comments and attachments to <strong>any ticket they're assigned to.</strong></li>
                        <li>A developer can create tickets for <strong>any project that they're a member of.</strong></li>
                        <li>While a developer can create tickets, they would <strong>still need to be assigned</strong> to the ticket as a developer by a PM or an admin.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="submitterModal" tabindex="-1" role="dialog" aria-labelledby="submitterModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom">
                    <h5 class="modal-title text-primary" id="exampleModalLongTitle">Submitter Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Whenever a user signs up using an admin invite, they start off with the <strong>submitter</strong> role.</li>
                        <li>A submitter could be added to a project by a project manager or an admin.</li>
                        <li>Once a member of a project, a submitter can <strong>create tickets</strong>.</li>
                        <li>A submitter can view and edit <strong>all tickets they created.</strong></li>
                        <li>A submitter can add comments and attachments to <strong>all tickets they created.</strong></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ./ Layout wrapper -->
    <!-- Main scripts -->
    <script>
        const makeActive = () => {
            // Remove 'active' tag for all list items
            var listItems = document.querySelectorAll('.navigation-item');

            var pathname = window.location.pathname;

            for (let i = 0; i < listItems.length; i++) {
                listItems[i].classList.remove("active");

                if (!pathname.includes("Details") && listItems[i].href.includes(pathname)) {
                    listItems[i].classList.add('active')
                }
            }
        }
        window.addEventListener("load", makeActive);
    </script>
    <script src="~/gogi/vendors/bundle.js"></script>

    <!-- Apex chart -->
    <script src="~/gogi/vendors/charts/apex/apexcharts.min.js"></script>

    <!-- Daterangepicker -->
    <script src="~/gogi/vendors/datepicker/daterangepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- DataTable -->
    <script src="~/gogi/vendors/dataTable/datatables.min.js"></script>

    <!-- Dashboard scripts -->
    @* <script src="~/gogi/assets/js/examples/pages/dashboard.js"></script>  *@

    <!-- App scripts -->
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map((tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
    <script src="~/gogi/assets/js/app.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
