@using Microsoft.AspNetCore.Identity;
@using TurboTicketsMVC.Models.Enums;
@using TurboTicketsMVC.Services.Interfaces;
@using TurboTicketsMVC.Services;
@model TurboTicketsMVC.Models.Ticket
@inject UserManager<TTUser> _UserManager
@inject ITTFileService _FileService
@inject ITTTicketService _TicketService;


@{
    ViewData["Title"] = "Details";
    string? userId = _UserManager.GetUserId(User);
    bool canAssignDeveloper = await _TicketService.CanAssignDeveloper(userId, Model.Id, Model.Project!.CompanyId);
    bool canActOnTicket = await _TicketService.CanActOnTicket(userId, Model.Id, Model.Project!.CompanyId);
    var start = Model.Project.StartDate;
    var end = Model.Project.EndDate;
    var today = DateTimeOffset.Now;
    var progressPercent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
}
<link rel="stylesheet" href="~/gogi/vendors/dataTable/datatables.min.css" type="text/css">


<div class="content ">
    <div class="page-header d-flex justify-content-between">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Ticket Details</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Tickets" asp-action="Index">All Tickets</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page" asp-controller="Tickets" asp-action="Details" asp-route-id="@Model.Id">Ticket Details</li>
                    </ol>
                </nav>

            </div>
        </div>
        @if (canActOnTicket)
        {
            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@Model.Id" role="button" class="btn btn-primary">Edit Ticket</a>
        }
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5>@Model.Title</h5>
                            @*Description of Ticket*@
                            @Html.Raw(Model.Description)
                            <div class="progress-container progress-info mb-2">
                                @*Project Name and information*@
                                <span class="progress-badge" style="font-size:small">Project: @Model.Project?.Name</span>
                                <div class="progress">

                                    @*Progress bar logic*@
                                    @*Variable from razor logic*@
                                    <div class="progress-bar" role="progressbar" style="width: @progressPercent%" aria-valuenow="@progressPercent" aria-valuemin="0" aria-valuemax="100">

                                        @*Variable from razor logic*@
                                        <span class="progress-value">@progressPercent%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                @*Ticket date*@
                                <li><strong>Ticket Created:</strong> <span class="">  @Model.CreatedDate.ToString("dd MMM yyyy")</</span></li>
                                @*Project end date*@
                                <li><strong>Project Deadline:</strong> <span class="">  @Model.Project?.EndDate.ToString("dd MMM yyyy")</</span></li>
                                @*Ticket type*@
                                <li><strong>Type:</strong> <span class="">  @Model.TicketType</span></li>
                                @*Ticket priority*@
                                <li><strong>Priority:</strong> <span class="">  @Model.TicketPriority</span></li>
                                @*Ticket status*@
                                <li><strong>Status:</strong> <span class="">  @Model.TicketStatus</span></li>
                                @if(Model.Archived) {
                                <li><h5 class="text-muted text-center m-4">Archived</h5></li>

                                }
                                @if (Model.ArchivedByProject)
                                {
                                    <li><h5 class="text-muted text-center m-4">Archived By Project</h5></li>

                                }

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card h-100">
                        @if (canAssignDeveloper)
                        {
                            <div class="card-body d-flex flex-column justify-content-center">
                                @if (Model.DeveloperUserId == null)
                                {
                                    <h6 class="text-muted text-center">No Developers in the Project Team</h6>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="d-flex justify-content-center">
                                        <a asp-action="ManageUserRoles" asp-controller="Companies">
                                            <div class="btn btn-primary">
                                                Manage Roles
                                            </div>
                                        </a>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <form method="post" asp-action="AssignTicketFromDetails" asp-controller="Tickets">
                                        <input name="ticketId" value="@Model.Id" hidden />
                                        <div class="form-group">
                                            <label class="col-form-label">Select Developer</label>
                                            <select required name="developerId" class="form-control" asp-items="ViewBag.Developers">
                                            </select>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="submit" value="Assign" class="btn btn-primary" />
                                        </div>
                                    </form>
                                }
                            </div>
                        }
                        else
                        {

                            <div class="card-body">
                                <h5>Assigned Developer:</h5>
                                @if (Model.DeveloperUserId != null)
                                {
                                    <p>@Model.DeveloperUser!.FullName</p>
                                }
                                else
                                {
                                    <p>No Developer Assigned</p>
                                }
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-8 col-12 mt-5">
            <div class="card m-1 p-2 mb-5">
                <div class="card-header">
                    <h2>Comments</h2>
                </div>
                <div class="card-body" style="overflow-y:auto;">

                    @*Form and Logic for authorized users to add comments*@
                    <div class="comment-respond">
                        @if (canActOnTicket)
                        {
                            <h4 class="title">Post a comment</h4>
                            @* "Comment,CreatedDate,TicketId,UserId" *@
                            <form asp-controller="Tickets" asp-action="AddTicketComment" method="post">
                                <input hidden name="TicketId" value="@Model.Id" />
                                <input hidden name="UserId" value="@userId" />

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="row row-md-10">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea id="commentBox" class="form-control" name="Comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-submit cerchio">
                                        <input type="submit" value="Post Comment" class="btn-primary btn button-rounded">
                                    </div>
                                </div>
                            </form>
                        }

                    </div>
                    <hr />
                    @if (Model.Comments.Count() > 0)
                    {
                        <h6>Comments</h6>

                        <ul class="list-group list-group-flush">
                            @foreach (TicketComment comment in Model.Comments)
                            {
                                @* <li>@comment.User!.FullName: @comment.Comment</li> *@
                                <li class="list-group-item d-flex px-0 py-4">
                                    <figure class="avatar mr-3">
                                        <img src="@_FileService.ConvertByteArrayToFile(comment.User!.ImageFileData, comment.User!.ImageFileType, DefaultImage.BTUserImage)" alt="image">
                                    </figure>

                                    <div class="flex-grow-1">
                                            <h6>@comment.User.FullName</h6>

                 
                                        <p class="mb-0">
                                            @comment.Comment
                                        </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <h3 class="text-muted text-center">No comments to show</h3>
                    }
                </div>
                <div class="card-footer">
                </div>
            </div>
            <div class="card m-1 p-2">
                <div class="card-header">
                    <h2>Attachments</h2>
                </div>
                <div class="card-body" style="overflow-y:auto;">
                    <div class="container">
                        <div class="row">
                            @if (Model.Attachments.Count() > 0)
                            {
                                @foreach (TicketAttachment item in Model.Attachments)
                                {
                                    <div class="col col-sm-3 col-lg-2">
                                        @if (canActOnTicket)
                                        {
                                            <div class="w-100 d-flex justify-content-end">
                                                <a asp-controller="Tickets" asp-action="RemoveTicketAttachment" asp-route-Id="@item.Id">
                                                    <i class="bi bi-trash-fill"></i>
                                                </a>
                                            </div>
                                        }
                                        <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id" target="_blank">
                                            <div class="icon d-flex justify-content-center">
                                                <img src="@_FileService.GetFileIcon(item.ImageFileName!)" style="height:50px;width:50px" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@item.ImageFileName" />
                                            </div>
                                        </a>
                                        <div style="font-size:x-small" class="d-flex flex-column align-items-center">
                                            <div class="file-name">
                                                <strong>@item.Description</strong>
                                            </div>
                                            <small>Size: @_FileService.FormatFileSize(item.ImageFileData!.Length) </small>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <h6 class="text-muted text-center">No Attachments to show</h6>

                            }
                        </div>
                    </div>

                    <hr />
                    @if(canActOnTicket)
                    {
                        
                    <h6>Add Attachments</h6>
                    <div class="row clearfix">
                        <div>
                            <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="@Model.Id" name="TicketId">
                                <div class="media-body ml-3">
                                    <label>
                                        Description
                                        <input name="Description" type="text" class="form-control" required />
                                    </label><br />
                                    <div class="d-flex align-items-center">

                                        <label class="btn btn-outline-primary btn-sm m-0">
                                            <input name="ImageFormFile" type="file" class="form-control-file" />
                                        </label>
                                        <button type="submit" class="btn btn-primary md-btn-flat ms-2">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    }
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 mt-5 ">
            <div class="card m-1 p-2">
                <div class="card-header">
                    <h2>History</h2>
                    <hr />
                </div>
                <div class="card-body" style="overflow-y:auto;max-height:500px; height:auto;">
                    @*Loop to show the history entries for the Ticket*@
                    @if (Model.History.Count() > 0)
                    {
                        @foreach (TicketHistory history in Model.History)
                        {

                            <div class="border border-bottom-gray p-3 m-3" style="border-radius: 5px;">
                                <span class="date" style="font-weight:bold">@history.CreatedDate.ToString("dd MMM yyyy")</span>
                                <h6 class="text-primary mt-2">@history.Description</h6>
                                <span>By: <a href="" title="@history.User!.FullName">@history.User!.FullName</a></span>
                                <div class="">
                                    @if (history.Description!.Contains("New Ticket Created"))
                                    {
                                        <p>A ticket was added.</p>
                                    }
                                    else if (history.PropertyName!.Equals("Latest Comment") || history.PropertyName.Equals("Ticket Attachment"))
                                    {
                                        <p>A new @history.PropertyName was added by <b>@history.User.FullName</b></p>
                                    }
                                    else if (history.PropertyName!.Equals("Ticket Attachment Removed"))
                                    {
                                        <p>A Ticket attachment was removed by <b>@history.User.FullName</b></p>
                                    }
                                    else
                                    {
                                        <p>The ticket <b>@history.PropertyName</b> was edited.</p>
                                        <p class="mb-1">@($"Previous {history.PropertyName}: ") <span style="color:#B80000">@history.OldValue</span></p>
                                        <p class="mt-1">@($"Current {history.PropertyName}: ") <span style="color:#5F8670">@history.NewValue</span></p>
                                    }

                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h6 class="text-muted text-center">No actions logged in the history</h6>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- DataTable -->
    <script src="~/gogi/vendors/dataTable/datatables.min.js"></script>
    <script src="~/gogi/assets/js/examples/datatable.js"></script>
}