@using Microsoft.AspNetCore.Identity;
@using TurboTicketsMVC.Models.Enums;
@using TurboTicketsMVC.Services.Interfaces;
@model TurboTicketsMVC.Models.Ticket
@inject ITTTicketService _TicketService;
@inject UserManager<TTUser> _UserManager

@{
    ViewData["Title"] = "Edit";
    string? userId = _UserManager.GetUserId(User);
    bool canAssignDeveloper = await _TicketService.CanAssignDeveloper(userId, Model.Id, Model.Project!.CompanyId);
}


<div class="content">
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Edit Ticket</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@Model.Id">Ticket Details</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page" asp-controller="Tickets" asp-action="Edit" asp-route-id="@Model.Id">Edit Ticket</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="SubmitterUserId" />
                        <input type="hidden" asp-for="CreatedDate" />
                        <input type="hidden" asp-for="ProjectId" />

                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" id="editor" class="editor form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                            </label>
                        </div>

                        <div class="form-group">
                            <label asp-for="TicketType" class="control-label"></label>
                            <select asp-for="TicketType" class="form-select" asp-items="@Html.GetEnumSelectList<TTTicketTypes>()"></select>
                            <span asp-validation-for="TicketType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TicketStatus" class="control-label"></label>
                            <select asp-for="TicketStatus" class="form-select" asp-items="@Html.GetEnumSelectList<TTTicketStatuses>()"></select>
                            <span asp-validation-for="TicketStatus" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TicketPriority" class="control-label"></label>
                            <select asp-for="TicketPriority" class="form-select" asp-items="@Html.GetEnumSelectList<TTTicketPriorities>()"></select>
                            <span asp-validation-for="TicketPriority" class="text-danger"></span>
                        </div>
                        @if (canAssignDeveloper)
                        {
                            <div class="form-group">
                                <label asp-for="DeveloperUserId" class="control-label">Developer</label>
                                <select asp-for="DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperUsers"></select>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" value="@Model.DeveloperUserId" asp-for="DeveloperUserId" />
                        }

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}