@using TurboTicketsMVC.Models.ViewModels;
@model IEnumerable<ManageUserRolesViewModel>

@{
    ViewData["Title"] = "Manage User Roles";
}

<div class="content">
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Manage User Roles</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Tickets" asp-action="Index">All Tickets</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page" asp-controller="Companies" asp-action="ManageUserRoles">Manage User Roles</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    @foreach ( ManageUserRolesViewModel viewModel in Model )
    {
        <div class="row">
            <div class="card col-4 m-3">
                <div class="card-body">
                    <p class="text-muted font-13 m-b-30">
                        This form displays the current roles assigned to the user: <strong class="text-info">@viewModel.TTUser?.FullName</strong>.
                        Use the dropdown to select the roles this user should be assigned.
                        Once roles are selected, click "Assign Roles" to submit the form.
                    </p>
                    <hr />
                    <form asp-action="ManageUserRoles" asp-controller="Companies" method=post>
                        <input type="hidden" asp-for="@viewModel.TTUser!.Id" />
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="@viewModel.Roles" class="custom-label"> Roles for @viewModel.TTUser?.FullName </label>
                                    <select asp-for="@viewModel.SelectedRoles" class="form-select" asp-items="@viewModel.Roles">
                                    </select>
                                    <hr />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Assign Role" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>