@using Microsoft.AspNetCore.Identity;
@using TurboTicketsMVC.Models.Enums;
@using TurboTicketsMVC.Services.Interfaces;
@using TurboTicketsMVC.Services;
@model IEnumerable<TurboTicketsMVC.Models.Project>
@inject ITTFileService _FileService;
@inject ITTProjectService _ProjectService;
@inject UserManager<TTUser> _UserManager;

@{
    ViewData["Title"] = "AllProjects";
    string swalMessage = ViewBag.SwalMessage;
}

<div class="content">
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <div>
                <h3>All Projects</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">All Projects</li>
                    </ol>
                </nav>
            </div>
            <a asp-controller="Projects" asp-action="Create">
                <div class="btn btn-primary">
                    Create New
                </div>
            </a>
        </div>
    </div>
    <div class="row gy-4">
        @if (Model.Count() > 0)
        {
            @foreach (Project project in Model)
            {
                <div class="col-12 col-md-4">
                    <a asp-asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">
                        <div class="card border border-bottom-gray h-100 px-3">
                            <div class="py-3 mt-1 border-bottom-gray">
                                @if ((await _ProjectService.GetProjectManagerAsync(project.Id)) != null)
                                {
                                    <div class="d-flex align-items-start">
                                        <div class="pr-3">
                                            <span class="avatar avatar-sm">
                                                <img src="@_FileService.ConvertByteArrayToFile((await _ProjectService.GetProjectManagerAsync(project.Id)).ImageFileData!, (await _ProjectService.GetProjectManagerAsync(project.Id)).ImageFileType!, DefaultImage.BTUserImage)"
                                                     class="rounded-circle"
                                                     alt="image">
                                            </span>
                                        </div>
                                        <div class="flex-grow- 1">
                                            <h6 class="mb-1">@((await _ProjectService.GetProjectManagerAsync(project.Id)).FullName)</h6>
                                            <h6 class="text-muted">Project Manager</h6>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <h6 class="text-center text-muted my-2">No Project Manager Assigned</h6>
                                }
                            </div>
                            <div class="py-3 border-bottom-gray">
                                <img src="@_FileService.ConvertByteArrayToFile(project.ImageFileData!, project.ImageFileType!, DefaultImage.ProjectImage)" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body py-3 px-0">
                                <h5 class="card-title text-primary mb-2">@project.Name</h5>
                                @if (project.Members.Count() > 0)
                                {
                                    <div class="mr-3 d-sm-inline d-none">
                                        <div class="avatar-group">
                                            @foreach (TTUser member in project.Members)
                                            {
                                                <figure class="avatar avatar-sm" title="@member.FullName"
                                                        data-toggle="tooltip">
                                                    <img src="@_FileService.ConvertByteArrayToFile(member.ImageFileData!, member.ImageFileType!, DefaultImage.BTUserImage)"
                                                         class="rounded-circle"
                                                         alt="image">
                                                </figure>
                                            }

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <h6 class="text-muted">No Members</h6>
                                }
                                <div class="line-clamp-3 m-2">
                                    @Html.Raw(project.Description)
                                </div>
                                <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id" class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <div class="card p-5 border border-dark h-100">
                    <h5 class="text-muted text-center">
                        No Projects to show
                    </h5>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var swalMessage = "@swalMessage";
        if (swalMessage) {
            if (swalMessage.includes("succeeded")) {
                Swal.fire(
                    {
                        title: 'Success',
                        text: '@swalMessage',
                        icon: 'success',
                        confirmButtonText: 'ok',
                        color: '#5066e1'
                    }
                )
            }

            if (swalMessage.includes("failed")) {
                Swal.fire(
                    {
                        title: 'Sorry',
                        text: '@swalMessage',
                        icon: 'error',
                        confirmButtonText: 'ok',
                        color: '#820300'
                    }
                )
            }

        }
    </script>
}