@using Microsoft.AspNetCore.Identity;
@using TurboTicketsMVC.Services.Interfaces;
@model TurboTicketsMVC.Models.Project
@inject ITTProjectService _projectService;
@inject UserManager<TTUser> _UserManager;

@{
    ViewData["Title"] = "Details";
    TTUser projectManager = await _projectService.GetProjectManagerAsync(Model.Id);
    bool isAdmin = User.IsInRole("Admin");
}

<h1>Details</h1>

<div>
    <div class="container-fluid">
        <div class="row gy-2">
            <div class="col-md-12 col">
                <div class="row col-cols-2 mt-5 bg-secondary">
                    <div class="card col m-1 p-2">
                        <div class="body">
                            @* Project Name *@
                            <h5>@Model.Name</h5>
                            @* Project Description *@
                            <p>@Model.Description</p>
                            <div class="progress-container progress-info m-b-25">
                                <span class="progress-badge" style="font-size:small">Project Status</span>
                                <div class="progress">
                                    @* Razor code block *@
                                    @{
                                        var start = Model.StartDate;
                                        var end = Model.EndDate;
                                        var today = DateTimeOffset.Now;
                                        var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                                    }
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" @* style="width: @percent%;" *@>
                                        @* Use Progress Bar code variable here *@
                                        <span class="progress-value">@percent%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col m-1 p-2">
                        <div class="body">
                            <ul class=" list-unstyled basic-list">
                                <li>Start Date: <span class="">@Model.StartDate</span></li>
                                <li>Deadline: <span class="">@Model.EndDate</span></li>
                                <li>Priority: <span class="">@Model.ProjectPriority</span></li>
                                @* if() logic *@
                                @if (Model.Archived)
                                {
                                    <li>Project: Inactive</li>
                                }
                                else
                                {
                                    <li>Project: Active</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div class="bg-secondary">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h2>Project Manager</h2>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;">
                            @projectManager.FullName
                            @* if() logic for Avatar/Default etc *@

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div class="bg-secondary">
                    <div class="card m-1 p-2">
                        <div class="header d-flex justify-content-between">
                            <h2>Project Team</h2>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editTeamModal">Edit Team</button>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;">
                            <ul class="right_chat list-unstyled mb-0">
                                @foreach (TTUser member in Model.Members)
                                {
                                    <li>@member.FullName</li>
                                }
                                @* Logic for avatars *@
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div class="bg-dark">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h2>Project Activity</h2>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;background-color:antiquewhite">
                            @* Project Activity loop *@
                            [Project Activity  e.g. Ticket History]
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 col">
                <div class="mt-5 bg-secondary">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h2>Tickets</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive" style="overflow-y:auto;height:600px;">
                                <table class="table table-hover">
                                    <thead class="">
                                        <tr>
                                            @* Table header *@
                                            <td>Title</td>
                                            <td>Submitter</td>
                                            <td>Developer</td>
                                            <td>Status</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @* Table body *@
                                        @foreach (Ticket ticket in Model.Tickets)
                                        {
                                            <tr>
                                                <td>@ticket.Title</td>
                                                <td>@ticket.SubmitterUser?.FullName</td>
                                                @if (string.IsNullOrEmpty(ticket.DeveloperUser?.FullName))
                                                {
                                                    <td>Unassigned</td>
                                                }
                                                else
                                                {
                                                    <td>@ticket.DeveloperUser?.FullName</td>
                                                }
                                                <td>@ticket.TicketStatus</td>
                                                <td><a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">Details</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editTeamModal" tabindex="-1" aria-labelledby="editTeamModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="EditTeam" asp-controller="Projects" method="Post">
                <input type="hidden" value="@Model.Id" name="ProjectId" />
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Team</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @if (isAdmin)
                    {
                        <div class="form-group">
                            <label for="projectManagerSelect" class="control-label">Project Manager</label>
                            <select name="projectManagerId" id="projectManagerSelect" class="form-control dropdown-toggle" asp-items="ViewBag.ProjectManagers"></select>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="ProjectManagerId" value="@projectManager.Id"/>
                    }
                    <div class="form-group">
                        <label for="developerTeamSelect" class="control-label">Developers</label>
                        <select name="DeveloperIds" id="developerTeamSelect" class="form-control" style="height: 100px;" asp-items="ViewBag.Developers" multiple></select>
                    </div>
                    <div class="form-group">
                        <label for="submitterTeamSelect" class="control-label">Submitters</label>
                        <select name="SubmitterIds" id="submitterTeamSelect" class="form-control" style="height: 100px;" asp-items="ViewBag.Submitters" multiple></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
