@using TurboTicketsMVC.Models.Enums;
@using TurboTicketsMVC.Services.Interfaces;
@model TurboTicketsMVC.Models.Project
@inject ITTFileService _fileService;
@inject ITTProjectService _projectService;
@inject ITTRolesService _roleService;


@{
    ViewData["Title"] = "Edit";
    TTUser? projectManager = await _projectService.GetProjectManagerAsync(Model.Id);
    bool isAdmin = User.IsInRole("Admin");
    bool pmAvailable = Enumerable.Count(ViewBag.ProjectManagers) > 0;
    bool developersAvailable = Enumerable.Count(ViewBag.Developers) > 0;
    bool submittersAvailable = Enumerable.Count(ViewBag.Submitters) > 0;
}

<div class="content">
    <div class="page-header">
        <div class="d-flex">
            <img class="mr-3 avatar" src="@_fileService.ConvertByteArrayToFile(Model.ImageFileData!, Model.ImageFileType!, DefaultImage.BTUserImage)" />
            <div class="d-flex flex-column justify-content-center">
                <h3 class="text-start mb-1">Edit Project</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Projects" asp-action="Index">All Projects</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Id">Project Details</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Project</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CompanyId" />
                <input type="hidden" asp-for="CreatedDate" />
                

                <div class="form-group">
                    @* <label asp-for="ImageFormFile" class="control-label"></label> *@
                    <img class="img-fluid border rounded-3 mb-2" style="max-height: 300px;" src="@_fileService.ConvertByteArrayToFile(Model?.ImageFileData, Model?.ImageFileType, DefaultImage.ProjectImage)" id="projectImage">
                    <input asp-for="ImageFormFile" type="file" class="form-control mt-3 pt-2" accept=".png,.jpg,.jpeg,.gif"
                           onchange="document.getElementById('projectImage').src = window.URL.createObjectURL(this.files[0])" />
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" id="editor" class="editor form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label">Project Start Date</label>
                    <input asp-for="StartDate" type="date" class="form-control" required/>
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label">Project End Date</label>
                    <input asp-for="EndDate" type="date" class="form-control" required/>
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectPriority" class="control-label"></label>
                    <select asp-for="ProjectPriority" class="form-select" asp-items="@Html.GetEnumSelectList<TTProjectPriorities>()"></select>
                    <span asp-validation-for="ProjectPriority" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-danger" role="button" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>

                </div>
            </form>
        </div>
        <div class="col-md-5 col-lg-7 col-12 ">
            <div class="border border-dark card m-1 p-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5>Project Team</h5>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editTeamModal">
                        Edit Team
                    </button>
                </div>
                <div class="card-body list-group list-group-flush" style="overflow-y:auto;">
                    @if(Model.Members.Count() > 0)
                    {
                        
                    @foreach (TTUser member in Model.Members)
                    {
                        <div class="list-group-item d-flex px-0 align-items-start">
                            <div class="pr-3">
                                <span class="avatar">
                                    <img src="@_fileService.ConvertByteArrayToFile(member.ImageFileData!, member.ImageFileType!, DefaultImage.BTUserImage)"
                                         class="rounded-circle"
                                         alt="image">
                                </span>
                            </div>
                            <div class="flex-grow- 1">
                                <h6 class="mb-1">@member.FullName</h6>
                                @foreach (string? role in await _roleService.GetUserRolesAsync(member))
                                {
                                    if (role == "Admin" || role == "ProjectManager")
                                    {
                                        <span class="badge rounded-pill dark-bg">@role</span>
                                    }
                                    else if (role == "Developer")
                                    {
                                        <span class="badge rounded-pill bg-primary">@role</span>
                                    }
                                    else if (role == "Submitter")
                                    {
                                        <span class="badge rounded-pill bg-secondary">@role</span>
                                    }
                                    else
                                    {
                                        <span class="badge rounded-pill bg-warning">@role</span>

                                    }
                                }
                            </div>
                        </div>
                        }
                    } else
                    {
                        <h4 class="text-muted">No Team Members</h4>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editTeamModal" tabindex="-1" aria-labelledby="editTeamModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="EditTeam" asp-controller="Projects" method="Post">
                <input type="hidden" value="@Model.Id" name="ProjectId" />
                <input type="hidden" value="Edit" name="redirect" />
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Team</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @if (isAdmin)
                    {
                        <div class="form-group">
                            <label for="projectManagerSelect" class="control-label">Project Manager</label>
                            @if (pmAvailable)
                            {
                                <select name="projectManagerId" id="projectManagerSelect" class="form-control dropdown-toggle" asp-items="ViewBag.ProjectManagers"></select>
                            }
                            else
                            {
                                <h6 class="text-muted text-center">No company member, with a PM role, available.</h6>
                            }
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="ProjectManagerId" value="@projectManager.Id" />
                    }
                    <div class="form-group">
                        <label for="developerTeamSelect" class="control-label">Developers</label>
                        @if (developersAvailable)
                        {
                            <select name="DeveloperIds" id="developerTeamSelect" class="form-control" style="height: 100px;" asp-items="ViewBag.Developers" multiple></select>
                        }
                        else
                        {
                            <h6 class="text-muted text-center">No company member, with a developer role, available.</h6>
                        }
                    </div>
                    <div class="form-group">
                        <label for="submitterTeamSelect" class="control-label">Submitters</label>
                        @if (submittersAvailable)
                        {
                            <select name="SubmitterIds" id="submitterTeamSelect" class="form-control" style="height: 100px;" asp-items="ViewBag.Submitters" multiple></select>
                        }
                        else
                        {
                            <h6 class="text-muted text-center">No company member, with a submitter role, available.</h6>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    @if (isAdmin)
                    {
                        <a role="button" class="btn btn-secondary" asp-controller="Companies" asp-action="ManageUserRoles">Manage Roles</a>
                    }
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>
        <script>
            ClassicEditor
                .create(document.querySelector('#editor'), {
                    toolbar: {
                        shouldNotGroupWhenFull: true
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        </script>
}
}
