@model IEnumerable<TurboTicketsMVC.Models.Invite>

@{
    ViewData["Title"] = "Index";
    bool isAdmin = User.IsInRole("Admin");
    string? swalMessage = ViewBag.SwalMessage;
}

<link rel="stylesheet" href="~/gogi/vendors/dataTable/datatables.min.css" type="text/css">

<div class="content">
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Company Invites</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Company Invites</li>
                    </ol>
                </nav>
            </div>
            @if (isAdmin)
            {
                <a asp-controller="Invites" asp-action="Create">
                    <div class="btn btn-primary">
                        Create New
                    </div>
                </a>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card border border-dark">
                <div class="card-body">
                    @if (Model.Count() > 0)
                    {
                        <table id="example1" class="table table-striped table-bordered" style="width: 100%;">
                            <thead>
                                <tr>

                                    <th>
                                        Invitee Name
                                    </th>
                                    <th>
                                        Invitee Email
                                    </th>
                                    <th>
                                        Invited By
                                    </th>
                                    <th>
                                        Invite Date
                                    </th>
                                    <th>
                                        Acceptance
                                    </th>
                                    <th>
                                        Validity
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.InviteeFirstName @item.InviteeLastName
                                        </td>
                                        <td>
                                            @item.InviteeEmail
                                        </td>
                                        <td>
                                            @item.Invitor!.FullName
                                        </td>
                                        <td>
                                            @item.InviteDate.ToString("dd MMM yyyy")
                                        </td>
                                        @if (item.JoinDate != null)
                                        {
                                            <td>
                                                <div class="badge d-flex justify-content-center bg-success">
                                                    Joined
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <div class="badge d-flex justify-content-center badge bg-primary">
                                                    Not Joined

                                                </div>
                                            </td>
                                        }
                                        @if (item.IsValid)
                                        {
                                            <td>
                                                <div class="bg-success d-flex justify-content-center badge">

                                                    Valid
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <div class="badge d-flex justify-content-center bg-danger">
                                                    Invalid
                                                </div>
                                            </td>
                                        }
                                        @if (isAdmin)
                                        {
                                            <td>

                                                <form asp-controller="Invites" asp-action="ResendInvite" method="post">
                                                    <input type="hidden" name="id" value="@item.Id" />
@*                                                     <input type="hidden" name="projectId" value="@item.ProjectId" />
                                                    <input type="hidden" name="inviteeEmail" value="@item.InviteeEmail" />
                                                    <input type="hidden" name="inviteeFirstName" value="@item.InviteeFirstName" />
                                                    <input type="hidden" name="inviteeLastName" value="@item.InviteeLastName" />
                                                    <input type="hidden" name="message" value="@item.Message" />  *@
                                                    <button class="btn-sm btn btn-primary" type="submit">Resend Invite</button>
                                                </form>
                                                <form asp-controller="Invites" asp-action="InvalidateInvite">
                                                    <input type="hidden" name="id" value="@item.Id"/>
                                                    <button class="btn-sm btn btn-warning" type="submit">Invalidate Invite</button>

                                                </form>
                                                @* <a class="btn btn-sm btn-warning" asp-action="InvalidateInvite" asp-route-id="@item.Id">Invalidate</a> *@

                                            </td>
                                        }

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h5 class="text-muted text-center">No Invites to show</h5>
                    }
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    <script src="~/gogi/vendors/dataTable/datatables.min.js"></script>
    <script src="~/gogi/assets/js/examples/datatable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var swalMessage = "@swalMessage";
        if (swalMessage) {
            if (swalMessage.includes("sent")) {
                Swal.fire(
                    {
                        title: 'Success',
                        text: '@swalMessage',
                        icon: 'success',
                        confirmButtonText: 'ok',
                        color: '#5066e1'
                    }
                )
            }

            if (swalMessage.includes("failed")) {
                Swal.fire(
                    {
                        title: 'Sorry',
                        text: '@swalMessage',
                        icon: 'error',
                        confirmButtonText: 'ok',
                        color: '#820300'
                    }
                )
            }

            if (swalMessage.includes("successful")) {
                Swal.fire(
                    {
                        title: 'Success',
                        text: '@swalMessage',
                        icon: 'success',
                        confirmButtonText: 'ok',
                        color: '#5066e1'
                    }
                )
            }
        }
    </script>
}